ALLOWED_HOSTS=*
DEBUG=1
APPLY_MIGRATIONS=1
CREATE_SUPERUSER=1
SEED_DEVELOPMENT_DATA=0
SET_ALLOWED_DATA_FIELDS=0

TOKEN_AUTH_ACCEPTED_SCOPE_PREFIX=access,gdprdelete,gdprquery
TOKEN_AUTH_ACCEPTED_AUDIENCE=profile-api,helsinkiprofile-be
TOKEN_AUTH_AUTHSERVER_URL=http://keycloak:9080/auth/realms/helsinki-tunnistus
TOKEN_AUTH_REQUIRE_SCOPE=True

FIELD_ENCRYPTION_KEYS=f164ec6bd6fbc4aef5647abc15199da0f9badcc1d2127bde2087ae0d794a9a0b

# Required for communicating with a local Tunnistamo instance without https
OAUTHLIB_INSECURE_TRANSPORT=1
GDPR_AUTH_CALLBACK_URL=https://oidcdebugger.com/debug
