DEBUG=1
APPLY_MIGRATIONS=1
CREATE_SUPERUSER=1
BOOTSTRAP_DIVISIONS=0

API_SCOPE_PREFIX=profiles
OIDC_CLIENT_ID=https://api.hel.fi/auth/profiles
OIDC_SECRET=<ENTER TUNNISTAMO CLIENT SECRET HERE>
OIDC_ENDPOINT=http://tunnistamo-backend:8000/openid
