version: '3.7'
services:
    postgres:
        build: ./docker/postgres/
        restart: on-failure
        environment:
            POSTGRES_USER: open_city_profile
            POSTGRES_PASSWORD: open_city_profile
            POSTGRES_DB: open_city_profile
        ports:
            - 5433:5433
        volumes:
          - pgdata:/var/lib/postgresql/data
        container_name: profile-db

    django:
        build:
            context: .
            target: development
        env_file:
            - docker-compose.env.yaml
        environment:
            DATABASE_URL: postgres://open_city_profile:open_city_profile@profile-db/open_city_profile
            DATABASE_HOST: "profile-db"
        volumes:
            - .:/app
            - django-media-volume:/var/media/
        ports:
            - "8080:8080"
        depends_on:
            - postgres
        container_name: profile-backend

volumes:
        pgdata:
            driver: local
        django-media-volume:
