ALLOWED_HOSTS=*
DEBUG=1
APPLY_MIGRATIONS=1
CREATE_SUPERUSER=1
SEED_DEVELOPMENT_DATA=0
BOOTSTRAP_DIVISIONS=0

OIDC_SECRET=<ENTER TUNNISTAMO CLIENT SECRET HERE>

TOKEN_AUTH_ACCEPTED_SCOPE_PREFIX=helsinkiprofile
TOKEN_AUTH_ACCEPTED_AUDIENCE=https://api.hel.fi/auth/helsinkiprofile
TOKEN_AUTH_AUTHSERVER_URL=http://tunnistamo-backend:8000/openid
TOKEN_AUTH_REQUIRE_SCOPE=True

FIELD_ENCRYPTION_KEYS=f164ec6bd6fbc4aef5647abc15199da0f9badcc1d2127bde2087ae0d794a9a0b
