Django
coreapi
django-admin-sortable
django-cors-headers
django-enumfields
django-environ
django-filter
django-graphql-jwt
django-guardian
django-helusers>=0.6
django-ilmoitin>=0.2.0
django-import-export
django-munigeo
django-parler
django-reversion
django-searchable-encrypted-fields
django-thesaurus>=0.0.2
djangorestframework
drf-oidc-auth==0.9
graphene-django>=2.10.1
graphene-federation
pillow
psycopg2
pyyaml>=5.3
requests
requests-oauthlib
--no-binary psycopg2
sentry-sdk
