Django~=5.2.6
django-admin-sortable
django-cors-headers
django-csp
django-enumfields2
django-environ
django-filter
django-guardian
django-helusers
django-parler
django-sanitized-dump
django-searchable-encrypted-fields
graphene-django
graphene-federation
graphql-sync-dataloaders
graphene-validator@https://github.com/City-of-Helsinki/graphene-validator/archive/refs/heads/graphene3.zip
ipython
iso3166
psycopg[c]
python-jose[cryptography]
pyyaml
requests
requests-oauthlib
sentry-sdk
uwsgi<3
