Django
coreapi
django-allauth
django-cors-headers
django-environ
django-filter
django-helusers
django-ilmoitin
django-munigeo
django-parler-rest
django-reversion
django-thesaurus>=0.0.2
djangorestframework
pillow
psycopg2-binary
sentry-sdk
