-c requirements.txt
black
flake8
freezegun
inflection
isort
pep8-naming
pip-tools
pre-commit
pydocstyle
pytest
pytest-cov
pytest-django
pytest-mock
requests-mock
pytest-factoryboy
factory_boy
snapshottest
